<!-- header.ejs -->
<div class="header">
    <div class="header-left"><%= headerLeftText %></div>
    <div class="header-center">
        <img src="<%= logoUrl %>" alt="Logo de l'entreprise">
    </div>
    <div class="header-right"><%= headerRightText %></div>
</div>